* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*::before {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    color: inherit;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
    background: transparent;
}

section,article,aside,main,dialog,figure,footer,header,hgroup,nav,section,img {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

html {
    font-size: 10px;
}

a {
    color: #46464b;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-weight: 500;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background: #9e3eb2;
    color: #fff;
}

nav {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
}

#footer {
    padding: 40px 8%;
    width: 100%;
    background-color: #9e3eb2;
}